---
import PostMetaComponent from '@/components/PostMeta.astro'
import type { PostMeta } from '@/types'

interface Props {
  posts: PostMeta[]
}

const { posts } = Astro.props
---

<ul>
  {
    posts.map((post) => (
      <li>
        <article>
          <h2>
            <a href={`/posts/${post.slug}`}>{post.title}</a>
          </h2>
          <PostMetaComponent post={post} />
          {post.description && (
            <p class="mt-2 text-gray-700 dark:text-gray-300">
              {post.description}
            </p>
          )}
        </article>
      </li>
    ))
  }
</ul>
