---
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { themeConfig } from '@/config'
import { getPosts } from '@/utils'
import LayoutDefault from '@/layouts/LayoutDefault.astro'
import PostList from '@/components/PostList.astro'
import type { PaginationProps } from '@/types'

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getPosts()
  return paginate(posts, {
    pageSize: themeConfig.site.pageSize || 10
  })
}) satisfies GetStaticPaths

interface Props {
  page: Page<CollectionEntry<'posts'>>
}

const { page } = Astro.props

const pagination: PaginationProps = {
  currentPage: page.currentPage,
  totalPages: page.lastPage,
  lastPage: page.lastPage,
  prevUrl: page.url.prev,
  nextUrl: page.url.next,
  showPageCount: true
}
---

<LayoutDefault config={themeConfig}>
  <div class="container mx-auto px-4 py-8">
    <PostList posts={page.data} pagination={pagination} />
  </div>
</LayoutDefault>
