---
import type { CommentConfig } from '@/types'
import Giscus from './comments/Giscus.astro'
import Disqus from './comments/Disqus.astro'
import Twikoo from './comments/Twikoo.astro'

export interface Props {
  config: CommentConfig
  path?: string
}

const { config, path } = Astro.props
const provider = config.provider

const giscusConfig = config.giscus
const disqusConfig = config.disqus
const twikooConfig = config.twikoo
---

<div class="comments mt-16">
  {provider === 'giscus' && giscusConfig && <Giscus {...giscusConfig} />}
  {provider === 'disqus' && disqusConfig && <Disqus {...disqusConfig} />}
  {provider === 'twikoo' && twikooConfig && <Twikoo {...twikooConfig} path={path} />}
</div>

<style>
  .comments {
    @apply mt-8;
  }
</style>
