---
import { themeConfig } from '@/config/default'

const { site, footer, author, website } = themeConfig
const year = new Date().getFullYear()

const renderText = (text: string) => {
  return text.replace('❤️', `<span class="text-red-500">❤️</span>`)
}
---

<footer class="text-sm leading-[1.75] mt-4">
  <div>
    {footer.map((text) => (
      <div set:html={renderText(text)} />
    ))}
  </div>

  <div class="mt-2">
    {footer.map((text) =>
      text
        .replace('%year', year.toString())
        .replace('%author', author)
        .replace('%website', website)
    )}
  </div>
</footer>
