---
import type { ThemeConfig } from '@/types'
import { useTranslations } from '@/i18n'
import type { Language } from '@/types'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'nav'> {
  config: ThemeConfig
}

const { config, class: className, ...props } = Astro.props as Props
const { t } = useTranslations(Astro.locals.language as Language || 'en')

---

<nav class:list={['flex items-center', className]} {...props}>
  <div class="flex-1">
    <ul class="flex space-x-4">
      {
        config.navLinks.map(({ name, href }) => (
          <li>
            <a
              href={href}
              class="text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
            >
              {t(`nav.${name.toLowerCase()}`)}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
