---
interface Props {
  config: {
    shortname: string;
    url?: string;
    identifier?: string;
    title?: string;
  };
}

const { config } = Astro.props;

if (!config?.shortname) {
  throw new Error('Disqus shortname is required');
}

const disqusConfig = {
  shortname: config.shortname,
  url: config.url || Astro.url.href,
  identifier: config.identifier || Astro.url.pathname,
  title: config.title || document.title
};
---

{
  config?.shortname && (
    <div id="disqus_thread"></div>

    <script define:vars={{ disqusConfig }}>
      window.disqus_config = function() {
        this.page.url = disqusConfig.url;
        this.page.identifier = disqusConfig.identifier;
        this.page.title = disqusConfig.title;
      };

      (function() {
        var d = document, s = d.createElement('script');
        s.src = `https://${disqusConfig.shortname}.disqus.com/embed.js`;
        s.setAttribute('data-timestamp', String(+new Date()));
        (d.head || d.body).appendChild(s);
      })();
    </script>
  )
}
