---
import type { CommentConfig } from '@/types'

interface Props {
  config: CommentConfig['twikoo']
}

const { config } = Astro.props

if (!config?.envId) {
  throw new Error('Twikoo envId is required')
}

const twikooConfig = {
  envId: config.envId,
  region: config.region,
}
---

<div id="twikoo" class="mt-10"></div>

<script define:vars={{ twikooConfig }}>
  window.twikooConfig = twikooConfig;
  (function loadTwikoo() {
    var script = document.createElement('script');
    script.src = 'https://cdn.jsdelivr.net/npm/twikoo@latest';
    script.onload = function() {
      window.twikoo?.init({
        envId: twikooConfig.envId,
        region: twikooConfig.region,
        el: '#twikoo',
      });
    };
    document.head.appendChild(script);
  })();
</script>

<style>
  #twikoo {
    @apply w-full;
  }
</style>
