---
import type { TwikooConfig } from '@/types'

export interface Props extends TwikooConfig {
  path?: string
}

const { envId, region = 'ap-shanghai', path, lang = 'en' } = Astro.props

if (!envId) {
  throw new Error('Twikoo envId is required')
}

---

{
  envId && (
    <div id="twikoo"></div>
    <script src="https://cdn.staticfile.org/twikoo/1.6.21/twikoo.all.min.js" is:inline></script>
    <script define:vars={{ envId, region, path, lang }}>
      window.addEventListener('load', () => {
        twikoo.init({
          envId,
          region,
          path: path || window.location.pathname,
          lang
        })
      })
    </script>
  )
}

<style>
  #twikoo {
    @apply w-full;
  }
</style>
