---
import type { CommentConfig } from '@/types'

interface Props {
  config: CommentConfig['utterances']
}

const { config } = Astro.props

if (!config) {
  throw new Error('Utterances configuration is missing')
}

const utterancesConfig = {
  repo: config.repo,
  issueTerm: 'pathname',
  label: 'comment',
  theme: 'github-light'
}
---

<div class="utterances">
  {
    config && (
      <script
        is:inline
        src="https://utteranc.es/client.js"
        data-repo={utterancesConfig.repo}
        data-issue-term={utterancesConfig.issueTerm}
        data-label={utterancesConfig.label}
        data-theme={utterancesConfig.theme}
        crossorigin="anonymous"
        async
      />
    )
  }
</div>

<style>
  .utterances {
    @apply w-full;
  }
</style>
